.btn-armar .btn-outline-light{
    background-color: white;
    color: #480748;
    border-color: #480748;
}

#contenedor-armar-pc{
    padding: 30px 0;
}

#categoria-componentes{
    h2{
        padding: 25px 9;
    }
    .lista-componentes{
        #boton-micros, #boton-placas, #boton-discos, #boton-memorias, #boton-fuentes, #boton-gabinetes{
            width: 200px;
            height: 200px;
            padding: 10px;
            margin-bottom: 10px;
            img{
                max-width: 120px;
                margin: 15px 0;
            }
        }
    }
    .modal-body{
        @include flexbox(row, center, top);
        .card{
            img{
                margin: 15px 0;
            }
            align-items: center;
        }
    }
}

#display-carrito{
    h2{
        padding: 25px 0;
    }
}