$color-fondo: #1C1B1E;
$color-header-principal: #212027;
$color-header-secundario: #480748;
$color-titulo: white;

$color-texto-card: black;

$color-primario: #0071BC;
$color-secundario: #93278F;

$color-gradiente-primario: linear-gradient(90deg, $color-primario 25%, $color-secundario 75%);
